---
import type { Props } from '@astrojs/starlight/props';
---

<div class="docs-header">
	<a href="https://sheetyapp.com/" class="logo-link" title="Sheety App">
		<img src="/logo-64.png" alt="Sheety App Logo" width="32" height="32" />
	</a>
	<span class="separator">/</span>
	<a href="/" class="docs-link">Documentation</a>
</div>

<style>
	.docs-header {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}

	.logo-link {
		display: flex;
		align-items: center;
		transition: opacity 0.2s;
	}
	
	.logo-link:hover {
		opacity: 0.8;
	}
	
	.logo-link img {
		width: 32px;
		height: 32px;
		display: block;
	}

	.separator {
		color: var(--sl-color-gray-3);
		font-size: 1.25rem;
		font-weight: 300;
		user-select: none;
	}

	.docs-link {
		color: var(--sl-color-white);
		text-decoration: none;
		font-weight: 600;
		font-size: 1rem;
		transition: opacity 0.2s;
	}
	
	.docs-link:hover {
		opacity: 0.8;
	}
</style>
